.container-nav{
    max-width: 1280px;
    margin: auto;
  }
  
  .flex-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header{
    width: 100%;
    padding:  60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
  }
  
  header.roll{
    background-color: #ffffff;
    padding:  10px 4%;
  }
  
  header.roll a, header.roll i{
    color: #0e0c57;
  }
  
  header i{
    font-size: 50px;
    color: #ffffff;
  }
  
  header ul{
    list-style-type: none;
  }
  
  header ul li{
    display: inline-block;
    margin: 0 40px;
  }
  
  header ul li a{
    color: #ffffff;
    text-decoration: none;
  }
  
  .logonav {
    height: 80px;
    margin-right: 10px;
    transition: height 0.3s ease;
}

header.roll .logonav {
  content: url('images/logo-roll.png');
  height: 60px;
}

  .banner{
    height: 100vh;
    background-image: url(images/banner.png);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn-contato button{
    width: 120px;
    height: 40px;
    border: 0;
    background-color: #e0e0e0;
    color: black;
    cursor: pointer;
    transition: .2s;
  }

  .banner h1{ 
    font-size: 6em;
    font-weight: 900;
    margin: auto;
    color: #ffffff;
  }

  .banner h1 span{
    color: #ffffff;
  }